# Flutter/Dart/Pub
**.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
flutter_*.plist
/pubspec.lock

# Android
*/.gradle/
*/.idea/
**/generated/
.gradle/
/local.properties
/**/android/**/gradle/
/**/android/**/gradlew
/**/android/**/gradlew.bat
/android/key.properties
/android/**/key.jks
/android/**/keystore.jks

# iOS
/ios/.generated/
/ios/Flutter/.last_build_id
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/Runner/GeneratedPluginRegistrant.*

# macOS
/macos/Flutter/ephemeral/
/macos/Flutter/GeneratedPluginRegistrant.*

# Windows
/windows/Flutter/
/windows/ephemeral/

# Linux
/linux/ephemeral/
/linux/flutter/ephemeral/

# Web
/web/packages/
/web/.dart_tool/

# Coverage
/coverage/

# VS Code
/.vscode/

# Android Studio
/.idea/
*.iml

# Miscellaneous
**/all_lint_rules.yaml
**/analysis_options.yaml
*.log
*.lock
.DS_Store
*.tgz

# Firebase
/firebase-debug.log

# Exclude the flutter SDK folder
/flutter/